.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1.2fr) [center-start] repeat(2, 2fr)
    [center-end]
    minmax(6rem, 1.2fr) [full-end];

  grid-template-rows: 1.3fr 8fr 1.3fr;
}

.app {
  grid-column: center-start / center-end;
  grid-row: 2 / 3;
}

.player_1 {
  grid-column: 1/5;
}

.player_2 {
  grid-column: 5/-1;
}
